
.search {
  text-align: center;

  p.form {
    padding: 1rem;
    margin: 1rem auto;
    width: 75%;
    min-width: 300px;
    background: rgba(255,255,255,0.2);

    input {
      line-height: 1.6;
      border: none;
      padding: 0.5rem;
      width: 50%;
      color: #233886;
    }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
  color: #fff;
  background: transparent;
}
html {
  padding: 0;
  @include linearGradient(#314db9, #233886);
  background-repeat: repeat-x;
  position: relative;
  min-height: 100%;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  @include linearGradient(#dd0000, #aa0000);
  color: #fff;
  text-align: center;
  padding-top: 1rem;
  font-family: $font-family-serif;
}

/* Custom page footer */
.footer {
  margin-top: 6rem;
  padding-top: 19px;
  color: #e8e8e8;
  font-weight: 300;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
}

.container-narrow > hr {
  margin: 30px 0;
}
.app-content {
  margin-bottom: 10rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}