/* Animated transitions for MWGA */

div[ng-view].ng-enter, .ng-enter {
    -webkit-animation: slideInLeft 0.5s;
    animation: slideInLeft 0.5s;
}
div[ng-view].ng-leave, .ng-leave {
    -webkit-animation: slideOutRight 0.5s;
    animation: slideOutRight 0.5s;
}

@keyframes fallingStars {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

  -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

  -webkit-transform: translate(100px, 500px) rotateZ(270deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

  -webkit-transform: translate(150px, 700px) rotateZ(360deg);
  }
}

@-webkit-keyframes fallingStars {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

  -webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

  -webkit-transform: translate(100px, 500px) rotateZ(270deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

  -webkit-transform: translate(150px, 700px) rotateZ(360deg);
  }
}
@-moz-keyframes fallingStars {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

  -moz-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

  -moz-transform: translate(100px, 500px) rotateZ(270deg);
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

  -moz-transform: translate(150px, 700px) rotateZ(360deg);
  }
}