<div class="search" ng-show="showSearch">
  <form ng-submit="openCurrent()"><input type="text" ng-model="city" placeholder="Enter city name."> <button ng-click="openCurrent()" class="btn btn-large btn-primary">Get REAL Weather!</button></form>
  <p>(American cities only, please.)</p>
</div>

<div class="current" ng-show="showCurrent">
  <p class="weather-icon"><i class="wi wi-owm-{{currDayTime}}-{{current.weather[0].id}}"></i></p>
  <h2>In {{city | uppercase}} it is currently...</h2>
  <p class="weather-summary">{{current.weather[0].main}}</p>
  <p class="weather-description">{{current.weather[0].description}}</p>
  <p class="weather-curr-temp"><b>Current Temp</b> {{current.main.temp}} &deg;F</p>
  <p class="weather-wind-speed"><b>Wind</b> {{current.wind.speed}} mph at {{current.wind.deg}} degrees</p>
  <p class="forecast-button-holder"><button ng-click="openForecast()" class="btn btn-block btn-primary">View Full Forecast</button></p>
  <ul class="socialshare">
    <li class="share-text">
      Tweet the Great Weather:
    </li>
    <li>
      <a class="share-button twitter"
        socialshare
        socialshare-provider="twitter"
        socialshare-text="{{current.weather[0].description | limitTo:85}}{{current.weather[0].description.length > 85 ? '...' : ''}}"
        socialshare-hashtags="MWGA"
        socialshare-url="http://maketheweathergreatagain.com">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  </ul>
</div>


<div class="forecast" ng-show="showForecast">
  <h2>The 12-day Forecast for: {{city | uppercase}}</h2>
  <ul id="forecast-list">
    <li ng-repeat="prediction in forecast.list | limitTo: 12" class="weather-forecast">
      <div class="forecast-content">
        <p class="forecast-date">{{prediction.dt*1000 | date:'MMM dd, yyyy'}}</p>
        <p class="forecast-temps"><b>Low</b> {{prediction.temp.min}} &deg;F <b>High</b> {{prediction.temp.max}} &deg;F</p>

        <p class="forecast-summary">{{prediction.weather[0].main}}</p>
        <p class="forecast-icon"><i class="wi wi-owm-{{currDayTime}}-{{prediction.weather[0].id}}"></i></p>

        <p class="forecast-description">{{prediction.weather[0].description}}</p>
      </div>
    </li>
  </ul>
  <p><button ng-click="openCurrent()" class="btn btn-block btn-primary">Back to Current Conditions</button></p>
</div>

<div class="invalid-city" ng-show="showInvalidCity">
  <h2>{{ badCity | uppercase }} is Not in the USA!</h2>
  <p class="lead">{{ invalidMessage }}</p>
  <p>Please search for another city.</p>
</div>

<div class="no-query" ng-show="showNoQuery">
  <h2>Missing City Name. Sad!</h2>
  <p class="lead">You must enter the name of an American city to find weather information.</p>
</div>

<p ng-show="!showSearch"><a class="new-search" ng-click="openSearch()"><i class="wi wi-cloud-refresh"></i> View Weather Conditions for Another City</a></p>


