<div class="search" ng-show="showSearch">
  <p class="form"><input type="text" ng-model="city" placeholder="Enter city name."> <button ng-click="openCurrent()" class="btn btn-large btn-primary">Get REAL Weather!</button></p>
  <p>(American cities only, please.)</p>
</div>

<div class="current" ng-show="showCurrent">
  <h2>The REAL Weather for: {{city | uppercase}}</h2>
  <dl>
    <dt>Currently</dt>
    <dd><i class="wi wi-owm-{{currDayTime}}-{{current.weather[0].id}}"></i></dd>
    <dd>{{current.weather[0].main}}</dd>
    <dd>{{weatherText.getWeatherDescription(current.weather[0].id)}}</dd>
    <dt>Temperature</dt>
    <dd>{{current.main.temp}}</dd>
    <dt>Wind</dt>
    <dd>{{current.wind.speed}} mph at {{current.wind.deg}} degrees</dd>
    <dt>Clouds</dt>
    <dd>{{current.clouds.all}}%</dd>
  </dl>
  <p><button ng-click="openForecast()" class="btn btn-block btn-primary">View Full REAL Forecast</button></p>
</div>


<div class="forecast" ng-show="showForecast">
  <h2>The REAL Forecast for: {{city | uppercase}}</h2>
  <dl ng-repeat="prediction in forecast.list" class="weather-forecast">
    <dt>Forecast for {{prediction.dt*1000 | date:'MMM dd, yyyy'}}</dt>
    <dd><i class="wi wi-owm-{{currDayTime}}-{{prediction.weather[0].id}}"></i></dd>
    <dd>{{prediction.weather[0].main}}</dd>
    <dd>{{weatherText.getWeatherDescription(prediction.weather[0].id)}}</dd>
    <dt>Temperature</dt>
    <dd>Min: {{prediction.temp.min}} &deg;F Max: {{prediction.temp.max}} &deg;F</dd>
  </dl>
  <p><button ng-click="openForecast()" class="btn btn-block btn-primary">View Current REAL Weather</button></p>
</div>

<div class="invalid-city" ng-show="showInvalidCity">
  <h2>{{ city | uppercase }} is Not in the USA!</h2>
  <p class="lead">{{ invalidMessage }}</p>
  <p>Please search for another city.</p>
</div>

<div class="no-query" ng-show="showNoQuery">
  <h2>Missing City Name. Sad!</h2>
  <p class="lead">You must enter the name of an American city to find weather information.</p>
</div>

<p ng-show="!showSearch"><button class="btn btn-block btn-primary" ng-click="openSearch()">Get REAL Weather Information for Another City</button></p>


